/* cc3 */
* {
	font-size: 30px;
}
body {
	background-color:#DFDDCE ;
	/* or we can do this background-image:url("");*/
}
/* cc4
h2, span{
	font-family:monospace;
} */

span {
	color: rgb(149, 5, 29);
}
/* cc1 */
#i1 {
	color: darkblue; 
}
.c1 {
	color: forestgreen;
}
h2.c2 { /* cc2 */
	color:olive ;
}
div .c3 {
	border-style: groove;
	border-color: rgb(31, 31, 212);
	border-width: 4px;
}
div .cn { /* cc6 */
	border-style: groove;
	border-color: rgb(31, 31, 212);
	border-width: 4px;
	border-radius: 6px;
}
div .c4 { /* cc5 */
	border-left-style: dotted;
	border-left-color: red;
	border-left-width: 4px;
	border-top-style: solid;
	border-top-color: darkblue;
	border-top-width: 2px;
	border-right-style: dashed;
	border-right-color: darkred;
	border-right-width: 4px;
	border-bottom-style: groove;
	border-bottom-color: darkorchid;
	border-bottom-width: 2px;
}
div .c5 {
	border-left: 5px dashed red;
}
.c6 {    /* cc7 */
	width: 400;
	height: 300;
	background-color: darkslategray;
	margin: 10px 0 0 170px;
}

.c7 {
	width: 400;
	height: 200;
	background-color: violet;
	margin: auto;
}
.c8 { /* cc8 */
	border: 2px solid red;
	padding: 40px 0 20px 30px;
}
#c9 { /* cc9 */
	outline: 3px solid red;
	border: 2px dotted blue;
	outline-offset: 7px;
	padding: 10px;
}
.c10 { /*cc10*/
	color: darkblue;
	text-align: right;
	text-decoration: underline;
}
.c11 { /*cc11*/
	text-indent: 30px;
	letter-spacing: 3px;
}
#c12 { /*cc12*/
	color: black;
	text-align: center;
	text-shadow: 4px 4px blue;
}
#c13 {
	color: black;
	text-align: center;
	text-shadow: 4px 4px 4px red; /* I */
}
/* cc13 */
#c14 {
    display: inline
}
li {
	list-style-type: none;
	display: inline;
}
div.madar {
	background-color: cadetblue;
	text-align: center;
	width: 400px;
	height: 200px;
	padding: 1px;
	margin: 10px auto;
	position: relative;
}
div.farzand {
	background-color: azure;
	padding: 7px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
div.c15 { /* cc14 */
	background-color: yellow;
	padding: 2px;
	height: 150px;
	overflow: scroll;
}
img {
	width: 150px;
	height: auto;
	float: right;
}
.c16 {
	background-color: chocolate;
	width: 300px;
	height: auto;
	display: inline-block;
	margin: 12px 122px;
}
.test {
	background-image: url(carl.jpg);
}
.border { /* border image */
	padding: 2px;
	border: 21px solid transparent;
	border-image: url(border.png) 30 round;
}
#cc16, #cc17, #cc18 { /* cc16 */
	width: 50px;
	height: 50px;
	background-color: blue;
	margin: 3px;
}
div>p {
	color: blue;
/* در اینجا پی تگ مادر هست که در دیو هست و آن را فراخوانی کردیم*/
/* دیو اولی تگ مادر ما تگ بی هست */
}
div+p {
	color: red;
/*در اینجا اولین تگ پی که بعد از دیو بود را فراخوانی کردیم */
/* code 1 */
}
p[title] {
	color: aliceblue;
	background-color: goldenrod;
/* اینجا فقط اونایی انتخاب شدن که اتریبیوت تایتل دارن */
/* میتونیم مشخص کنیم کدام تایتل ها انتخاب بشن*/
/*
p[title="test"] {
	color:blue;
}
*/
/* the profesional programmers actually at the first of the project
select all of the screen and work with that
for example:
* {
	font-family:iransans;
	text-decoration:none;
}
*/
}
.activeclass:active {
	color: aliceblue;
	background-color: darkblue;
}
.hovertest {
	background-color: aqua;
	width: 80px;
	height: 80px;
}
.hovertest:hover { /* hover */
	background-color:crimson
}
ul li:first-child {
	background-color: gold;
/* دراینجا عنصر اول این خصوصیات را دارد*/
}
.cc18::before {
	content: "This is before";
	background-color: darkred;
	color: bisque;
}
.cc18::after {
	content: "This is after";
	background-color: darkred;
	color: bisque;
}
.cc19::selection{
	color: aliceblue;
	background-color:red;
}
input[type="text"] {
	background-color: chartreuse;
	color: black;
	padding: 3px;
	border: 2px solid red;
	border-radius: 15px;
}
h3 {
	color:darkgreen !important
}
.mr {
	color:red
/* ما در اینجا همزمان به
 همان تگ اچ2 اشاره کردیم
 ولی با همون تغییری که در 
 اچ3 دادیم (important)
 ارجعیت پیدا کرد اون
 */
}
.cc20 { /* cc20 */
	width: 80px;
	height: 80px;
	background-color: blue;
	opacity: 0.4;
}
div.cc21 {
	margin: auto;
	width: 150px;
	height: 150px;
	background-color: black;
	box-shadow: 21px 8px 4px 5px #bbb;
}