body {
    font-family: sans-serif;
}
table {
    width: 100%;
}
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center
}
td {
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #ccc;
}
th {
    background-color: red;
}
tr:nth-child(odd):hover {
    background-color: crimson;
    color: aliceblue;
    transition: 0.5s
}